@charset "utf-8";

/*container*/
#container #resourceCurrentContent{
	width:1340px;
	height:610px;
	margin:0;
	padding:0;
}
#resourceCurrentContent .right a:link,#resourceCurrentContent .right a:visited{
	color:#666;
	text-decoration:none;
}
#resourceCurrentContent .right a:hover{
	color:#116cbc;
	text-decoration:underline;
	
}
/*resourceCurrent .left*/
#container #resourceCurrentContent .left{
	width:748px;
	height:600px;
	padding:0;
	margin-top:10px;
	float:left;
	display:inline;
	border:1px #ddd solid;
	background:transparent url('../images/bgResourceCurrentContentLeft.gif') repeat-x scroll left top;
}
#container #resourceCurrentContent .left th{
	background-color:#f0f0f0;
	padding-right:20px;
}
#container #resourceCurrentContent .left h2{
	line-height:60px;
	padding-left:36px;
	color:#666;
}
#container .left form table{
	line-height:32px;
	margin-left:36px;
}
#container .left form table td{
	padding-left:20px;
	border:#c1c2c6 1px solid;
}
.left form table td strong{
	font-weight:300;
	line-height:32px;
}
#container .left form table th{
	width:70px;
	border:#c1c2c6 1px solid;
}

/*resourseCurrent .left button*/
.left form .btnWrapper{
	width:688px;
	height:135px;
	padding:0 10px 0 40px;
	margin-top:30px;
	background:transparent url('../images/imgResourceCurrentServices.gif') no-repeat scroll 350px bottom;
}
.left form .btnWrapper input.btnResourceCurrentBackup{
	width:89px;
	height:30px;
	border:0;
	background:transparent url('../images/btnResourceCurrentBackup.gif') no-repeat scroll left top;
}
.left form .btnWrapper input.btnResourceCurrentJoinsShoppingCart{
	width:119px;
	height:30px;
	border:0;
	margin-left:35px;
	background:transparent url('../images/btnResourceCurrentJoinsShoppingCart.gif') no-repeat scroll left top;
}
/*ResourcsCurrent overay*/
.resourceCurrentOveRayWrapper{
	position:absolute;
	left:50%;
	top:45%;
	width:0;
	height:0;
	visibility:hidden;
	background:transparent;
	filter:alpha(opacity=0);
	-moz-opacity：0;
	opacity:0;
}
.resourceCurrentOveRayCont{
	z-index:1000;
	width:271px;
	height:169px;
	background:transparent url('../images/bgResourceCurrentOverRay.png') no-repeat scroll left top;
	position:relative;
	left:0px;
	top:-90px;
}
input.oveRayShut{
	border:0;
	width:16px;
	height:16px;
	background:transparent url('../images/btnOverShut.gif') no-repeat scroll left top;
	margin:8px 15px 0 auto;
}
.resourceCurrentOveRayCont p{
	padding-left:30px;
	line-height:30px;
	color:#666;
}
.resourceCurrentOveRayCont p.first{
	padding-top:20px;
}
input.GoSettlement{
	border:0;
	width:95px;
	height:25px;
	margin:15px 20px 0 30px;
	background:transparent url('../images/btnOverGoSettlement.gif');
}
input.StillShopping{
	border:0;
	width:78px;
	height:25px;
	background-image:url('../images/btnOverStillShopping.gif');
}
/*end resourcsCurrent overay*/

/*end of resourseCurrent .left button*/

/*end resourceCurrent .left*/
/*right*/
#container #resourceCurrentContent .right{
	width:216px;
	height:596px;
	padding:0;
	float:right;
	display:inline;
	margin-top:10px;
}
#container #resourceCurrentContent .right dl{
	width:100%;
	border:1px #ccc solid;
	border-top:4px #527a9f solid;
}
#container #resourceCurrentContent .right dt{
	color:#333;
	padding-left:12px;
	line-height:44px;
	border-bottom:1px #ccc solid;
}
#container #resourceCurrentContent .right dd{
	clear:both;
	display:block;
	border-top:1px #ccc solid;
	padding-left:12px;
	color:#666;
	line-height:40px;
}
#resourceCurrentContent .right dd ul{
	margin-left:-12px;
	padding:0 10px;
}
#resourceCurrentContent .right dd ul li{
	padding:0 10px 0 0;
	float:left;	
	line-height:25px;
	white-space:nowrap;
}
#resourceCurrentContent .right h2{
	margin-left:-12px;
	line-height:42px;
	color:#0068b7;
	background-color:#edf6ff;
	text-align:center;
}
#resourceCurrentContent .right img{
	margin-top:12px;
	width:216px;
	height:108px;
	overflow:hidden;
}
	/*container layout end*/
	/*Purchase flow*/
.flow{
	height:80px;
	width:978px;
	border-left:1px #ccc solid;
	border-right:1px #ccc solid;
	background:url('../images/bgPurchaseflow.jpg') repeat-x left top;
	overflow:hidden;
}
.flow dl {
	padding:0;
}
.flow dl dt, .flow dl dd {
	float:left;
	display:inline;
}
.flow dl dt {
	width:163px;
	height:52px;
	line-height:50px;
	text-align:center;
	color:#333;
}
.flow dl dd {
	margin:0;
}
.flow dl dd img {
	margin:10px 5px;
}
.flow p.clear{
	padding-top:6px;
	color:#666;
}
.flow p.clear .floatLeft{
	padding-left:20px;
	line-height:16px;
	width:100%;
	position:relative;
	top:-5px!important;
}
.filings .floatRight{
	display:inline;
	position:absolute;
	right:20px;
	top:0;
}
/*end purchase flow*/

.containerform {
	clear:both;
}
.containerform #content table{
	width:1340px;
	border-left:#ccc 1px solid;
	border-right:#ccc 1px solid;
	white-space:nowrap;
}
.containerform #content table.first{
	width:1340px;
	margin-top:0px;
	padding-left:15px;
	padding-right:15px;
	padding-top:0;
	border-left:#ccc 1px solid;
	border-right:#ccc 1px solid;
}
.containerform #content table th{
	width:80px;
	text-align:left;
	padding-left:30px;
}
.containerform #content table.bottom{
	width:950px;
	border-bottom:#ccc 1px dashed;
	margin:-1px 15px 0;
}

/*****/
.containerform #content table a.more{
	color:#f40;
}
.containerform #content th {
	color:#006699;
	width:10%;
	height:20px;
	padding:4px 8px;
}
.containerform #content td {
	width:5%;

}

/*advancedSearch*/
/*top*/
table.advancedSearch{
	color:#666;
}
table.advancedSearch tr{
	width:978px;
	border:1px #ccc solid;
	border-top:0;
}
/*@media all and (min-width: 0px){ table.advancedSearch tr {
	width:978px;
	border:1px #ccc solid;
	border-top:0;
} }*/
table.advancedSearch tr td{
	text-align:center;
	line-height:60px;
	white-space:nowrap;
}
table.advancedSearch tr td label{
	line-height:60px;
}
table.advancedSearch tr td input{
	height:20px;
}
td.advancedSearchTitle{
	padding-left:10px;
	width:80px;
	color:#666;
}
td.commodityName{
	padding-left:10px;
	width:110px;
}
input.commodityNameInput{
	width:50px;
}

td.materialQuality{
	padding-left:10px;
	width:120px;
}
input.materialQualityInput{
	width:11em;
}
td.materialQuality input{
	width:100px;
}

td.thicknessDiameter{
	padding-left:10px;
	width:190px;
}
input.thicknessDiameterFirs{
	width:50px;
}
input.thicknessDiameterSecon{
	width:50px;
}
td.widt{
	width:160px;
	padding-left:10px;
}
input.widtInputFirs{
	width:50px;
}
input.widtInputSecon{
	width:50px;
}
td.factory{
	width:110px;
	 padding-left:10px;
}
input.factoryInput{
	width:3em;
}
td.warehouse{
	width:100px;
	padding:10px;
}
input.warehouseInput{
	width:9em;
}
td.btn{
	width:100px;
	padding:0 10px;
}
input.btnInput{
	width:53px;
	height:24px;
	border:0;
	background:transparent url('../images/btnAccureteSearch.jpg') no-repeat scroll left center;
}
table.advancedSearchBottom {
	*border-top:1px #ccc solid;
}
select.transactionPatternSelect{
	height:20px;
	width:200px;
	line-height:50px;
	border:1px #ccc solid;
}
select.choosesAreaSelect{
	height:20px;
	width:160px;
	line-height:50px;
	border:1px #ccc solid;
}
select.sortingMethodSelect{
	height:20px;
	width:140px;
	line-height:50px;
	border:1px #ccc solid;
}
select.demonstratesQuantityInput{
	height:20px;
	width:100px;
	line-height:50px;
	border:1px #ccc solid;
}

/*end top*/
/*bottom*/
table.advancedSearchBottom tr td{
	height:44px;
	line-height:44px;
	text-align:center;
	width:20%;
}
table.advancedSearchBottom tr td input{
	width:134px;
	height:30px;
	text-align:center;
	border:1px #999 solid;
	width:20%;
}

/*end bottom*/
/*end advancedSearch*/


/*productlist*/
table.productList{
	width:1340px;
	border:1px #ccc solid;
}
.productList tr{
	width:978px;
	height:30px;
	line-height:30px;
	color:#333;
}
.productList tr.productListHead{
	width:978px;
	height:30px;
	line-height:30px;
	background:transparent url('../images/bgProductListHead.gif') repeat-x scroll left top;
	color:#666;
}
.productList tr.bgf3f3f3{
	background-color:#f3f3f3;
}
.productList tr.productListHead th{
	text-align:center;
	white-space:nowrap;
}
/* productList th&td Width*/

tr.productListHead th.serial,tr.productListBody td.serial{
	width:20px;
	text-align:center;
}
tr.productListHead th.serial{
	padding-left:10px;
}
tr.productListHead th.commodityName,tr.productListBody td.commodityName{
	width:64px;
}
tr.productListHead th.materialQuality,tr.productListBody td.materialQuality{
	width:84px;
}
tr.productListHead th.specification,tr.productListBody td.specification{
	width:70px;
}
tr.productListHead th.habitat,tr.productListBody td.habitat{
	width:54px;
}
tr.productListHead th.warehouse,tr.productListBody td.warehouse{
	width:104px;
	white-space:nowrap;
}
tr.productListHead th.quantity,tr.productListBody td.quantity{
	width:40px;
}
tr.productListHead th.weight,tr.productListBody td.weight{
	width:100px;
}
tr.productListBody td.weight{
	width:100px;
	padding-right:30px;
}
tr.productListHead th.days,tr.productListBody td.days{
	width:94px;
}
tr.productListHead th.hangsListPrise,tr.productListBody td.hangsListPrise{
	width:60px;
	text-align:center;
}
tr.productListHead th.supplier,tr.productListBody td.supplier{
	width:130px;
}
tr.productListBody td.supplier{
	padding-left:10px;
	text-align:left;
	line-height:30px;
}
tr.productListBody td img{
	position:relative;
	top:3px;
	left:-1px;
}
tr.productListBody td.supplier a{
	padding:2px 10px;
	margin-left:-10px;
}
tr.productListBody td.supplier a:hover{
	padding:2px 10px;
	position:relative;
	top:2px;
	color:#f40;
	font-weight:600;
}
tr.productListHead th.operation,tr.productListBody td.operation{
	width:130px;
}

							td.warehouse a{
								position:relative;
								z-index:100;
							}
							td.warehouse span.intro{
								display:none;
								float:left;
							}
							td.warehouse a:hover span{
								z-index:1000;
								width:200px;
								height:50px;
								display:block;
								position:absolute;
								left:-50px;
								top:10px;
								background:yellow url('wwww') no-repeat scroll left top;
							}

/*end productList th&td Width*/


/*thead end*/

input.JoinsShoppingCart{
	border:0;
	width:102px;
	height:24px;
	background:transparent url('../images/btnJoinsShoppingCart.gif') no-repeat scroll left top;
}
input.NegotiatedPrice{
	border:0;
	width:102px;
	height:24px;
	background:transparent url('../images/btnNegotiatedPrice.gif') no-repeat scroll left top;
}
input.contact{
	border:0;
	width:102px;
	height:24px;
	background:transparent url('../images/btnContact.gif') no-repeat scroll left top;
}
input.messageInStation{
	width:102px;
	height:24px;
	background:transparent url('../images/btnMessageInStation.gif') no-repeat scroll left top;
}
td.Close{
	border:0;

}
.productList tr td{
	text-align:center;
}

/*end productList*/
.pageCut{
	width:1340px;
	margin-top:0px;
}
ul.pageCutUl{
	width:570px;
	margin:0 auto;
}
ul.pageCutUl li{
	margin:0 2px;
	float:left;
	display:inline;
	color:#333;
	padding:25px 0;
}
ul.pageCutUl li a{
	padding:0 6px;
	display:block;
	border:1px #ccc solid;
	float:left;
	white-space:nowrap;
	color:#333;
}
/**
ul.pageCutUl li.previous a{
	color:#369;
	border:1px #ccc solid;
}*/
ul.pageCutUl li.dth a,ul.pageCutUl li.dth a:hover{
	color:#ccc;
	border-color:#ccc;
}
ul.pageCutUl li.current a{
	border:1px white solid;
	color:#f50;
}
ul.pageCutUl li a:hover{
	border:1px white solid;
	color:#ff5500;
}

/*end container*/

