@charset "utf-8";
#congratulationForSucc{
	width:800px;
	height:200px;
	margin-left:386px;
}
#congratulationForSucc h2{
	margin-top:70px;
	line-height:30px;
}
#congratulationForSucc h3{
	margin-top:36px;
	line-height:30px;
}
#congratulationForSucc p.operation a:link,#congratulationForSucc p.operation a:visited{
	color:#06c;
	padding:0 10px;
}
#congratulationForSucc p.operation a:hover{
	font-weight:600;
	padding:0 7px;
}
#congratulationForSuccTopMenu{
	position:absolute;
	right: 30px;
	bottom:10px;
}
#congratulationForSuccTopMenu li {

	color:#333;
}
#congratulationForSuccTopMenu li a:link,#congratulationForSuccTopMenu li a:visited{
	color:#06c;
	padding:0 10px;
}
#congratulationForSuccTopMenu li a:hover{
	text-decoration:underline;
	font-weight:600;
	padding:0 9px;
}


















.warmReminder{
	width:916px;
	height:160px;
	margin:0 auto 50px;
	background-color:#f7f7f7;
	margin-top:30px;
}

input.payment{
	width:85px;
	height:37px;
	background:transparent url('../images/bt1.gif') no-repeat scroll left top;
}
input.stiShop{
	width:85px;
	height:37px;
	background:transparent url('../images/bt2.gif') no-repeat scroll left top;
}
.warmReminder h2{
	width:896px;
	height:40px;
	padding-left:20px;
	border-top:1px #ccc solid;
	margin:0 auto;
	line-height:40px;
}
.warmReminder p{
	width:896px;
	padding-left:20px;
	line-height:40px;
}
.warmReminder p a:link,.warmReminder p a:visited{
	text-decoration:none;
	color:#06c;
}
.warmReminder p span{
	color:#f60;
	padding-bottom:100px;
}



/*wormTips*/
#wormTips{
	width:768px;
	padding:16px;
	margin:30px auto;
	border-top:1px #99CCFF solid;
	background-color:#e0f1f8;
}
#wormTips h2.bordFont{
	color:#f00;
}
#wormTips h2{
	line-height:35px;
}
#wormTips p{
	line-height:24px;
}
#wormTips p a:link,#wormTips p a:visited,#wormTips h2 a:link,#wormTips h2 a:visited{
	text-decoration:none;
	color:#06c;
	font-weight:600;
}
#wormTips p a:hover,#wormTips h2 a:hover{
	font-weight:600;
	text-decoration:underline;
}
span.star{
	color:#f00;
}


